<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypt-ID</title>
  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  {{!-- CSS --}}
  <link rel="stylesheet" href="./css/assets/style.css">
  <link rel="stylesheet" href="./css/assets/hero.css">
  </head>

<body id="page-style">
  <!--Cryp-ID Heading -fade in and logo-->
  <section class="text-white" id="override-color">
  <section class="px-5 pt-3 my-5 text-center border-bottom d-flex justify-content-center" id="slide-in-blurred-bottom">
    <div>
      <div>
        <h1 class="display-4 fw-bold text-muted" id="title" >Crypt-ID</h1>
      </div>
      <div>
        <img src="./images/extra small.png" alt="Crypt-ID Logo">
      </div>
    </div>
  </section>
  </section>


  <section>

  <!---->
      <nav class="d-flex justify-content-center">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/create">Submit a Report!</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        {{/if}}
      </nav>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </section>
</body>
</html>

{{!-- sprinkles: add sidebar for search and trending --}}
