<!-- Display Homepage -->
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      a place for believers, theorists, and those who have seen the unexplainable....
    </h2>
  </div>
  <div class="col-md-7">
    <button type="button" id= "cryptid-button" class="btn btn-secondary btn-sm">cryptids</button>
    <button type="button" id= "ufo-button" class="btn btn-secondary btn-sm">UFO</button>
    <button type="button" id= "paranormal-button" class="btn btn-secondary btn-sm">paranormal</button>
    <button type="button" id= "other-button" class="btn btn-secondary btn-sm">other/random</button>
    <button type="button" id= "report-sighting-button" class="btn btn-secondary btn-lg">report a sighting</button>
  </div>
</div>

<script src= "/js/homepage.js"></script>