<!-- Display Homepage -->
<section>
  <div>
    <h2>
    </h2>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h2 class=" d-flex justify-content-center card-title font-monospace p-5">a place for believers, theorists, and those who have seen the unexplainable....</h2>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
  </div>
</section>

<!-- Cryptids and UFO Cards -->
<section class="d-flex flex-wrap justify-content-center gap-4 p-5">
  <div class="col-md-5">
    <div class="card shadow p-3 mb-5 card-hover">
      <div class="card-body">
        <h5 class="card-title">Cryptids</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a id="cryptid-button" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card shadow p-3 mb-5 card-hover">
      <div class="card-body">
        <h5 class="card-title">UFO</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a id= "ufo-button" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

<!-- Paranormal Other/Random Random -->
  <div class="col-md-5">
    <div class="card shadow p-3 mb-5 card-hover">
      <div class="card-body">
        <h5  class="card-title">Paranormal</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a id="paranormal-button" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card shadow p-3 mb-5">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a id="other-button"href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>

<script src= "/js/homepage.js"></script>