<!-- Display Homepage -->
<section>
  <div>
    <h2>
    </h2>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h2 class=" d-flex justify-content-center card-title font-monospace p-5">a place for believers, theorists, and those who have seen the unexplainable....</h2>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
  </div>
</section>

<!-- Cryptids and UFO Cards -->
<section class="d-flex flex-wrap justify-content-center gap-4 p-5">
  <div class="col-md-5">
    <div class="card shadow p-3 mb-5 card-hover">
      <div class="card-body">
        <h5 class="card-title font-monospace">Cryptids</h5>
        <p class="card-text">cryp·​tid | \ ˈkrip-təd</p>
          <div class="pb-2">"An animal (such as Sasquatch or the Loch Ness Monster) that has been claimed to exist but never proven to exist"</div>
        <a id="cryptid-button" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card shadow p-3 mb-5 card-hover">
      <div class="card-body">
        <h5 class="card-title font-monospace">UFO</h5>
        <p class="card-text">\ ˌyü-(ˌ)ef-ˈō</p>
          <div class="pb-2">UNIDENTIFIED FLYING OBJECT</div>
        <a id= "ufo-button" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

<!-- Paranormal Other/Random Random -->
  <div class="col-md-5">
    <div class="card shadow p-3 mb-5 card-hover">
      <div class="card-body">
        <h5  class="card-title font-monospace">Paranormal</h5>
        <p class="card-text">para·​nor·​mal | \ ˌper-ə-ˈnȯr-məl </p>
          <div class="pb-2">Not scientifically explainable : SUPERNATURAL</div>
        <a id="paranormal-button" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card shadow p-3 mb-5">
      <div class="card-body">
        <h5 class="card-title font-monospace">Other Uknowns</h5>
        <p class="card-text">oth·​er | \ ˈə-t͟hər</p>
          <div class="pb-2">Being the one (as of two or more) remaining or not included</div>
        <a id="other-button"href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>

<script src= "/js/homepage.js"></script>