<div class="card pt-4">
  <h2 class="p-4">{{post.description}}...</h2>
  <p class="p-1">{{post.report}}</p>
  <p>{{post.location}}</p>
  <p>Created on: {{post.timeFiled}}</p>
  <p class="pb-4">
    {{#if displayDeleteButton}}
    <button class="btn btn-primary">Delete Report</button>
    {{/if}}
  </p>
</div>

