<div class="pt-3 text-center">
  <h2 class="pb-3 font-monospace">{{post.description}}...</h2>
  <p class="p-4">{{post.report}}</p>
  <p>{{post.location}}</p>
  <p class="pb-4">Created on: {{post.timeFiled}}</p>
  
  <p>
    {{#if displayDeleteButton}}
    <button class="btn btn-primary">Delete Report</button>
    {{/if}}
  </p>
</div>