<div class="text-center">
  <h2>{{post.description}}...</h2>
  <p>{{post.report}}</p>
  <p>{{post.location}}</p>
  <p>Created on: {{post.timeFiled}}</p>
  
  <p>
    {{#if displayDeleteButton}}
    <button class="btn btn-primary">Delete Report</button>
    {{/if}}
  </p>
</div>
